<!-- ======= Footer Section ======= -->
<footer id="main-footer" class="py-2">
  <div class="container footer-container">
    <div class="footer-img">
      <!-- <img src="https://source.unsplash.com/random/1280x768"/> -->
      <img src="https://source.unsplash.com/640x480?technology"/>
      <p id="pageText"></p> by <p id="pageAuthor"></p>
    </div>
    
    
    
    <div>
      <h3>Site Links</h3>
      <ul class="list">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://elegant-boyd-3a51b7.netlify.app/">Blog</a></li>
      </ul>
    </div>
    
    <div>
      <h2>Contact Me</h2>
      <a href="https://twitter.com/EazyTSa"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/thabo-ramohlale-74672423/"><i class="fa fa-linkedin fa-2x"></i></a>
      
    </div>
    
    <div>
      <p>
        Copyright &copy; 2020, All Rights Reserved
      </p>
    </div>
    
  </div>
</footer><!-- ======= End Footer Section ======= -->

<!--*** footer-quotes***-->
<script src="/public/js/quotes.js"></script>
<!-- <script src="js/quotes.js"></script> -->

<!--*** SCRIPTS ***-->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>

<!-- <script src="js/script.js"></script> -->
<!-- <script src="js/typewriter.js"></script> -->


<!-- ##################################IMPORTS#################################################### -->

<!-- JQuery CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
  <!-- Local JS File -->
  <script src="/public/js/main.js"></script>
  
  <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2eqM16TgkKN2vQzM_kJH64bNx57ikOYY&callback=initMap" async
    defer></script>
  
  <!-- Vendor JS Files -->
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/vendor/php-email-form/validate.js"></script>
  <script src="/public/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/public/vendor/counterup/counterup.min.js"></script>
  <script src="/public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/vendor/venobox/venobox.min.js"></script>
  <script src="/public/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/vendor/typed.js/typed.min.js"></script>
  <script src="/public/vendor/aos/aos.js"></script>
  
  <!-- Template Main JS File -->
  <script src="/public/js/mainPortfolio.js"></script>
  
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  
  <script src="/public/js/script.js"></script>
  <script src="/public/js/typewriter.js"></script>
</body>
</html>