
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta author="Thabo Ramohlale">
  <meta name="description" content="Thabo Ramohlale DevOps Portfolio">

  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
  integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
  crossorigin="anonymous"
/>
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        
        <!-- Favicons -->
        <link href="/public/img/favicon.png" rel="icon">
        <link href="/public/img/apple-touch-icon.png" rel="apple-touch-icon">
        
        <!-- Google Fonts -->
        <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
        
        <!-- Vendor CSS Files -->
        <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="/public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/public/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="/public/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/public/vendor/aos/aos.css" rel="stylesheet">
        
        <link rel="stylesheet" href="/public/css/main.css" />
        <!-- Template Main CSS File -->
        <link href="/public/css/stylesheet.css" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link href="/public/css/style.css" rel="stylesheet">
        <link href="/public/css/mobile.css" rel="stylesheet">

  <title>Thabo Ramohlale</title>
</head>

<body>
  <!--*** NAVIGATION ***-->
  <nav>
      <div class="logo" id="top-part">
        <span class="text-primary">
          <img src="/public/images/profilePic.jpg" alt="Avatar" class="avatar"> My </span>Portfolio
      </div>
    <ul class="navLinks">
      <li><a href="/">Home</a></li>
      <li><a href="/portfolio">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="https://elegant-boyd-3a51b7.netlify.app/" rel="noopener noreferrer" target="_blank">Blog</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

