<%- include('includes/header') %>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
    
        <div class="section-title">
          <h2>About</h2>
          <p>Senior configuration specialist with over 10 years’ experience specializing in backend and frontend. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous technologies including networking, development and cloud.</p>
        </div>
    
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/public/images/profilePic.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>DevOps Engineer &amp; Full Stack Developer.</h3>

            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 25 March 1982</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +27 82 358 0160 </li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Centurion, SA</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 38</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> ramohlalen@gmail.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong><a href="https://thabo-resume.herokuapp.com">https://thabo-resume.herokuapp.com</a></li>
                </ul>
              </div>
              <a href="../images/resume.pdf" class="btn"><span class="text-primary">Download</span> CV</a>
            </div>

          </div>
        </div>
    
      </div>
    </section><!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
  
      <div class="section-title">
        <!-- <h2>Testimonials</h2> -->
        <h2>Skills</h2>
        <p>On a day to day basis i encouter and or use some of the technologies listed below depending on what king of
          project i am working on</p>
      </div>
  
      <div class="owl-carousel testimonials-carousel">
  
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            In the world full of Python, be my JavaScript. - Ipsita
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/javascript.png" class="testimonial-img" alt="">
          <h3>JavaScript</h3>
        </div>
  
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            props and state are really my thing. what component can i create for your desire.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/react.jpg" class="testimonial-img" alt="">
          <h3>React</h3>
  
        </div>
  
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Unopnionated framework since slice of bread. how u like that.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/nodejs-logo.jpg" class="testimonial-img" alt="">
          <h3>Node Js</h3>
        </div>
  
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Elimanating 'It doesn't work on my machine in short steps and time' .
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/icons8-docker-240.png" class="testimonial-img" alt="">
          <h3>Docker</h3>
        </div>
  
        <div class="testimonial-item" data-aos="fade-up">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Quote Max MacMillian Academin.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/mongo-db-logo.png" class="testimonial-img" alt="">
          <h3>MongoDB</h3>
        </div>
  
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            CI/CD is my middle name. How can i automate your pipeline.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/jenkins.jpg" class="testimonial-img" alt="">
          <h3>jenkins</h3>
        </div>
  
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Orchestration is my wisdom giveen gift, how can i for tell your deployment.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/Kubernetes.logo.png" class="testimonial-img" alt="">
          <h3>Kubernetes</h3>
  
        </div>
  
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            i can tell you one thing or two about system resource stavartion or alert you in your sleep if you like. you
            never have have to miss an event.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/grafana.jpg" class="testimonial-img" alt="">
          <h3>Grafana</h3>
  
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            i can tell you one thing or two about system resource stavartion or alert you in your sleep if you like. you
            never have have to miss an event.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/ansible.png" class="testimonial-img" alt="">
          <h3>Ansible</h3>
  
        </div>
  
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            i can tell you one thing or two about system resource stavartion or alert you in your sleep if you like. you
            never have have to miss an event.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/public/logos/aws_logo.png" class="testimonial-img" alt="">
          <h3>Amazon Web Services</h3>
  
        </div>
  
  
  
      </div>
  
    </div>
  </section><!-- ======= End Skills Section ======= -->
  
<%- include('includes/footer') %>