<%- include('includes/header') %>
</br>
</br>
</br>
  <section id="successLanding">
    <div class="successLandingOverlay">

    </div>
  </section>

    <!-- Section: thank you page -->
    <section id="success" class="py-3 text-center">
      <div class="container">
          <h2 class="l-heading">Thank You For Your Submission</h2>
          <p class="lead">I will get back to you soon</p>
          <a href="/" class="btn text-center"><span class="text-primary">Go</span> Home</a>
      </div>
        

    </section>
    
<%- include('includes/footer') %>